<section>
    <table>
        <thead>
            <tr>
                <th>Author</th>
                <th>Saying</th>
            </tr>  
        </thead>
        <tbody>
           
            <%= for q <- @quotes do %>
             <tr>
                <td>
                    <%= link q.saying, to: Routes.quote_path(@conn, :show, q.id) %>
                </td>
                <td><%= q.author %></td>
            </tr>
            <% end %>
        </tbody>    
    </table>
</section>